﻿body {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    margin-top: 10px;
    background-color: #a54f50;
    width: 250px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
}

    .title > h1 {
        color: white;
        font-size: 3em;
        margin: auto
    }



#del_btn{
background-color:#F7DBAB;
color: blue;
position: absolute;
}

#edit_btn {
    background-color: #D2B062;
    position: relative;
    float: right;
}

    #edit_btn > a {
        text-decoration: none;
        color: white;
    }

#content_div {
    border: solid;
    margin-top: 10px;
}
/***************DATAGRID***********/

.tablerow {
    transition: background 100ms;
    text-decoration: none;
}

    .tablerow:hover {
        background: #fff176 !important;
    }

/****************Input Styling********************/
#inputrow {
    margin-bottom: 10px;
}

    #inputrow label {
        width: 100px;
        margin: 0px 10px;
    }

    #inputrow select, #inputrow input[type="text"] {
        box-sizing: border-box;
        width: 25%;
        max-width: none;
    }
