﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NavPage.ascx.cs" Inherits="Final_Project_Olga_Neyezhsal_ver2.usercontrols.NavPage" %>


<asp:SqlDataSource 
    runat="server" 
    ID="pages_list_pick"
    ConnectionString="<%$ ConnectionStrings:fproject %>">
</asp:SqlDataSource>
